*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  background-color: cadetblue;
}

.navBar {
  color: rgb(216, 165, 165);
  background-color: rebeccapurple;
  padding: 24px;
  margin-bottom: 5px;
}

.navBarItems,
.navBarItems ul li {
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 3rem;
}

.navBarItems ul {
  float: right;
  margin-right: 20px;
}

.navBarItems li {
  display: inline;
}

.navBarItems li a {
  margin-left: 4vw;
  padding: 6px;
  text-decoration: none;
  color: cadetblue;
  font-size: 1.4rem;
}

.start {
  height: 20vh;
  width: 50vw;
  margin-left: 25vw;
  font-size: 150%;
  background-color: aliceblue;
  overflow: visible;
}
